{
	"extends": ["pro"],
	"rules": {
		"object-curly-newline": "off",
		"function-paren-newline": "off",
		"comma-dangle" : [
			"error",
			{
				"arrays"   : "only-multiline",
				"objects"  : "only-multiline",
				"imports"  : "only-multiline",
				"exports"  : "only-multiline",
				"functions": "only-multiline"
			}
		]
	},

	"env": {
		"node": true,
		"es6": true
	},

	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"codeFrame": true
	},

	"plugins": [

	],
	"settings": {

	},

	"overrides": [
		{

		}
	]
}
